/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    position: relative;
}

.top-background {
    background-color: #009688;
    height: 150px;
}

.bottom-background {
    background-color: #D8DBD5;
    height: calc(100vh - 150px);
}

.container {
    width: 1400px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.left {
    width: 35%;
    background-color: white;
    border-right: 1px solid lightgray;
}

.left header,
.right header {
    height: 70px;
    background-color: #EAEAEA;
}

.left header,
.right header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.left header .profile,
.right header .active-user
 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left header .profile > .profile-img,
.right header .active-user > .active-user-img
 {
    width: 50px;
    height: 50px;
}

.left header .profile > .profile-img img,
.right header .active-user > .active-user-img > img {
    width: 100%;
    border-radius: 50%;
}

.left .my-name,
.user-active-name {
    font-weight: bold;
}

.left .my-name,
.right .user-active-data {
    margin-left: 10px;
}

.right .last-log {
    font-size: 13px;
    color: grey;
}

.left header .icons,
.right header .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left header .icons > *,
.right header .icons > * {
    cursor: pointer;
    margin: 0 10px;
}

.left .notifications {
    height: 80px;
    background-color: #8EDAFC;
    display: flex;
    align-items:center;
}

.left .notifications .bell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.left .notifications .text div:first-child {
   font-size: 15px;
   font-weight: bold;
}

.left .notifications .text span:last-child > a {
    font-size: 12px;
    color: grey;
}

.left .search-bar {
    height: 40px;
    background-color: #F6F6F6;
    padding: 5px;
    display: flex;
}

.left .search-bar > .search-icon {
    width: 15%;
    height: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .search-bar > input {
    width: 85%;
    height: 100%;
    border: 1px solid lightgrey;
    border-left: none;
    padding: 10px;
}

.right {
    width: 65%;
    background-color: beige;
}

.message-bar {
    height: 70px;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-bar > input {
    width: 80%;
    height: 75%;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

.message-bar .smile,
.message-bar .micro {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list-container {
    height: calc(100% - 190px);
    overflow-y: auto;
}

.contacts-list {
    list-style: none;
}

.contacts-list > li {
    height: 80px;
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact-data {
margin-left: 10px;
margin-bottom: 15px;
}

.contact-data .contact-name {
    font-weight: bold;
}

.contact-data .last {
    color: grey;
    font-size: 12px;
}

.img-profile-contact {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.img-profile-contact > img {
    width: 100%;
    border-radius: 50%;
}

.active {
    background-color: lightgrey;
}

.chat-body {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    padding: 30px 70px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message-container {
    width: 40%;
    padding: 20px 10px;
    border-radius: 8px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.left-mess {
    background-color: white;
}

.right-mess {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.date {
    font-size: 10px;
    color: grey;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}

.dropdown {
    padding: 20px;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown > div {
    margin-bottom: 10px;
}

.dropdown > * {
    cursor: pointer;
}
