<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp con Vue</title>
        <!--CSS-->
        <link rel="stylesheet" href="css/style.css">
        <!--FONTAWESOME-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--VUE-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        
        <div class="background">
            <header class="top-background">

            </header>

            <div class="bottom-background">

            </div>


            <div id="app" class="container">
                <div class="left">
                    <header>
                        <div class="profile">
                            <div class="profile-img">
                                <img src="img/avatar_1.jpg" alt="">
                            </div>
                            <div class="my-name">
                                Stefano
                            </div>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch fa-lg" style="color: #85878a;"></i>
                            <i class="fa-solid fa-message fa-lg" style="color: #85878a;"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-lg" style="color: #85878a;"></i>
                        </div>
                    </header>

                    <div class="notifications">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash fa-lg" style="color: #8EDAFC;"></i>
                        </div>
                        <div class="text">
                            <div>
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <span>
                                <a href="">
                                    Attiva notifiche desktop
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="search-bar">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass" style="color: #85878a;"></i>
                        </div>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchUser">
                    </div>

                    <div class="contact-list-container">
                        <ul class="contacts-list">
                            <li v-for="(singleContact, index) in filterContacts()" @click="active(index)" :class="(isActiveContact(singleContact) ? 'active' : '')">
                                <div class="img-profile-contact">
                                  <img :src="singleContact.avatar" :alt="singleContact.name">
                                </div>
                                <div class="contact-data">
                                  <div class="contact-name">
                                    {{ singleContact.name }}
                                  </div>
                                  <span class="last">
                                    {{ formatDate(singleContact.messages[singleContact.messages.length - 1].date) }}: {{ singleContact.messages[singleContact.messages.length - 1].message }}
                                  </span>
                                </div>
                              </li>                              
                        </ul>   
                    </div>
                   
                </div>
                <div class="right">
                    <header>
                        <div class="active-user">
                            <div class="active-user-img">
                                <img :src="activeUser ? activeUser.avatar : ''" alt="">
                            </div>
                            <div class="user-active-data">
                                <div class="user-active-name">
                                    {{ activeUser ? activeUser.name : '' }}
                                </div>
                                <div class="last-log" v-if="activeUser != null">
                                    Ultimo accesso oggi alle 12:00
                                </div>
                            </div>
                        </div>    
                        <div class="icons">
                            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #85878a;"></i>
                            <i class="fa-solid fa-paperclip fa-lg" style="color: #85878a;"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-lg" style="color: #85878a;"></i>
                        </div>
                    </header>

                    <div class="chat-body">
                        <div @click.right.prevent="openMenu(singleMessage)" class="message-container" :class="messageStyle(singleMessage)" v-if="activeUser != null" v-for="singleMessage in activeUser.messages">
                                {{ singleMessage.message }}
                            <div class="date">
                                {{ formatDate(singleMessage.date) }}
                            </div>

                            <div class="dropdown" v-if="singleMessage.showMenu">
                                <div>
                                    Info messaggio
                                </div>
                                <div class="delete" @click="deleteMessage(singleMessage)">
                                    Cancella messaggio
                                </div>
                            </div>
                        </div>
                    </div>                      

                    <div class="message-bar">
                        <div class="smile">
                            <i class="fa-regular fa-face-smile fa-lg" style="color: #85878a;"></i>
                        </div>
                        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="newMessage()" v-model="newMess">
                        <div class="micro">
                            <i class="fa-solid fa-microphone fa-lg" style="color: #85878a;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/script.js"></script>    
    </body>
</html>